extends ../utils/layout

block append head
  link(rel='stylesheet' href='/stylesheets/forms/index.css')
  
  script.

    window.onload = () => showModels()

    function showModels() {
      const models = !{JSON.stringify(models)},
        $select_brand = document.querySelector("#brand"),
        $select_model = document.querySelector("#model");

      $select_model.innerHTML = 
        "<option disabled>----------</option>" +
        "<option>new model</option>";

      models.forEach((model) => {
        if (model.brand === $select_brand.value){
          $select_model.innerHTML = 
            `<option value=${model._id}>` +
              `${model.modelName}` +
            "</option>" +
            $select_model.innerHTML
        }
      })
    }


block content
  h1 #{title}

  if errors
    ul
      each err in errors 
        li #{err.msg}

  form.grid-content(action="" method="post")

    .box-content
      .input-content
          label(for="image") image
          input#image(type="text" name="image")

    
    .box-content
      .input-content
        label(for="type") type
        select#type(name="type")
          option(value="auto") auto
          option(value="moto") moto

      .input-content
        label(for="brand") brand
        select#brand(
          name="brand",
          onchange="if (this.selectedIndex === this.options.length -1) window.location.pathname = '/new/brand'; showModels()" 
          )
          if brands
            each brand in brands
              option(value=brand._id)= brand.companyname

          option(disabled) -----------
          option new brand

      .input-content
        label(for="model") model
        select#model(
          name="model",
          onchange="if (this.selectedIndex === this.options.length -1) window.location.pathname = '/new/model';"
          )



      .input-content
        label(for="category") category
        select#category(
          name="category"
          onchange="if (this.selectedIndex === this.options.length -1) window.location.pathname = '/new/category'" 
        )
          if categories
            each category in categories
              option(value= category._id)= category.name

          option(disabled) -----------
          option#categories new categoty

      .input-content
        label(for="description") description
        textarea#description(name="description", cols="30", rows="10", placeholder="Description")

      .input-content
        label(for="price") price
        input#price(type="text" name="price")

      .buttons
        //- button Back
        +btnBack
        button(type="submit") Create
