extends ../utils/layout

block append head
  link(rel='stylesheet' href='/stylesheets/forms/index.css')

block content

  if errors
    ul
      each err in errors 
        li #{err.msg}

  h1 #{title}
  form.grid-content(action="" method="post")
    
    .box-content
    
    .box-content
      .input-content
        label(for="brand") Brand
        select#brand(
          name="brand",
          onchange="if (this.selectedIndex === this.options.length -1) window.location.pathname = '/new/brand'" 
          )

          if registedBrands
            each brand in registedBrands
              option(value=brand._id)= brand.companyname
          
          option(disabled) ------------------
          option New Brand

      .input-content
        label(for="modelName") Model name
        input#modelName(type="text" name="modelName")

      .input-content
        label(for="year") Year
        input#brand(type="text" name="year")
      
      .buttons
        +btnBack
        button(type="submit") Create
    

  if dataSent
    script.
      const data = !{JSON.stringify(dataSent)}
      console.log(data)

      for (const key in data) {

        if (key === "brand"){
          const $select = document.querySelector("#brand"),
            options = $select.options

          for (const index in options)

          if (options[index] === data[key]){
            $select.selectedIndex  = options[index]
            break;
          }

        } else {
          document.querySelector(`input[name='${key}']`)
            .value = data[key]
        }
      }